/* Styles for header */
header {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: -webkit-body;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo img {
    max-height: 50px;
    max-width: 56px; /* Adjust the height of the logo as needed */
}

nav ul {
    list-style-type: none;
    padding:0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li.active {
    color: aqua;
}

.cta-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
}

.cta-button:hover {
    background-color: white;
    color: orange;
}

/* Styles for hero section */
.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Styles for other sections */
.about {
    padding: 50px 0;
    display: flex;
    height: 100vh; /* Adjust height as needed */
    align-content: space-evenly;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: baseline;

} 

.about-card {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-card h2 {
    margin-bottom: 10px;
}

.about-card p {
    margin: 0;
}

.services {
    padding: 50px 0;
    display: flex;
    height: 100vh; /* Adjust height as needed */
    align-content: space-evenly;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: baseline;
}

.service-card {
    flex: 0 1 calc(50% - 20px);
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-card h2 {
    margin-bottom: 10px;
}

.service-card p {
    margin: 0;
}

.contact {
    padding: 50px 0;
    display: flex;
    height: 100vh; /* Adjust height as needed */
    align-content: flex-end;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: baseline;
}

/* Styles for form */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
}

/* Styles for footer */
footer {
    background-color: #4b726d;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin-bottom: 20px;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}
